* {
  margin: 0px;
  padding: 0px;
}

/*Navegação*/
nav {
  background-color: #61310e;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-logo {
  height: 70px;
  width: 150px;
  margin-left: 20px;
}
#div-user {
  height: 50px;
  width: 50px;
  margin-right: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.imgUser {
  border-radius: 50%;
  height: 99%;
}
#nomeUser {
  color: #fff;
  font: bold 15px Arial;
  cursor: pointer;
}
#div-opcoesUsuario {
  background-color: rgb(156, 156, 156);
  height: auto;
  width: 300px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 84px;
  visibility: hidden;
}
#div-opcoesUsuario > a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
/*Section*/
body {
  background-color: #95fbff;
}
#section-main {
  background-color: #efdcc2;
  width: 85vw;
  height: auto;
  margin: auto;
  padding-bottom: 50px;
}
h2 {
  margin-left: 40px;
  padding-top: 40px;
}
.div-a {
  margin-top: 30px;
  text-align: right;
  margin-right: 40px;
  padding-bottom: 10px;
}
.seeMore {
  text-decoration: none;
}
#section-allPersonagem {
  background-color: #efdcc2;
  width: 85vw;
  height: auto;
  margin: auto;
  padding-bottom: 50px;
}
.div-fichas {
  display: flex;
  justify-content: space-evenly;
}

.fichaPersonagem {
  display: flex;
  flex-direction: column;
}
.contPersonagem {
  height: 300px;
  width: 200px;
  background-color: aliceblue;
}
#div-textAllP {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section-allCriatura {
  background-color: #efdcc2;
  width: 85vw;
  height: auto;
  margin: auto;
  padding-bottom: 50px;
}
.fichaCriaturas {
  display: flex;
  flex-direction: column;
}
.contCriaturas {
  height: 300px;
  width: 200px;
  background-color: rgb(90, 90, 90);
}

p {
  margin: auto;
}

/*?Ficha de Personagem*/
#section-criarPersonagem {
  background-color: #efdcc2;
  width: 85vw;
  height: auto;
  margin: auto;
  padding-bottom: 50px;
}
.div-titulo {
  display: flex;
  justify-content: center;
}
#tituloPersonagem {
  font: bold 32px Arial;
  font-weight: 800;
}
.imgPersonagem {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.preencher {
  height: 30px;
}
#contCriarPersonagem {
  display: flex;
  justify-content: space-evenly;
}
#div-preencherAtributos {
  display: flex;
  flex-direction: column;
}
.div-pontosGerais {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.pontosGerais {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  text-align: center;
  background-image: url(/escudo-removebg-preview\(1\).png);
  background-position: center;
  color: #fff;
  font-weight: 700;
  border: none;
  outline: none;
}
#divChecks {
  display: flex;
  justify-content: space-evenly;
}
#div-dadosDeMorte {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  margin: auto;
  margin-top: 5px;
}
#exaustao {
  margin: auto;
}
#div-dadiva {
  display: flex;
}
#p-dadiva {
  margin-right: 20px;
}
#p-morte {
  margin-left: 20px;
}
#div-morte {
  display: flex;
}
input[type="checkbox"] {
  background-color: #000;
}

/*! Ficha de Criatura*/
#section-criarCriatura {
  background-color: #efdcc2;
  width: 85vw;
  height: auto;
  margin: auto;
  padding-bottom: 50px;
}
#tituloCriatura {
  font: bold 32px Arial;
  font-weight: 800;
}
.imgCriatura {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.preencherCriatura {
  height: 50px;
  width: 500px;
  background-color: #d6c975;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
}

#contCriarCriatura {
  display: flex;
  justify-content: space-evenly;
}
#div-preencherAtributos {
  display: flex;
  flex-direction: column;
}
.div-parametrosCriatura {
  display: flex;
  justify-content: space-evenly;
}
.parametrosCriatura {
  display: flex;
  align-items: center;
  height: 70px;
  margin-top: 20px;
}
.preencherCriatura2 {
  height: 70px;
  width: 70px;
  margin-left: 20px;
  font-size: x-large;
  border: none;
  border-radius: 50%;
  text-align: center;
}

.pontosGeraisCriatura {
  display: flex;
}
select {
  height: 30px;
  width: 100px;
  background-color: #d6c975;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 30px;
}
textarea {
  width: 500px;
  background-color: #d6c975;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  resize: none;
  font-weight: 600;
}
#submit {
  text-align: right;
  margin-top: 20px;
}
input[type="submit"] {
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 10px;
  background-color: #95d15d;
  font-weight: 900;
}
input[type="submit"]:hover {
  background-color: #648c3e;
  color: #fff;
  transform: scale(1.1);
}

/** Combate*/

#menuIcon {
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
}

#div-opcoesCombate {
  background-color: rgb(156, 156, 156);
  height: auto;
  width: 300px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 84px;
  visibility: hidden;
}
#div-opcoesCombate > a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
#div-opcoesCombate > p {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

#section-combate {
  background-color: #648c3e;
  width: 100vw;
  height: 86vh;
}
#iniciativa {
  background-color: #d6c975;
  width: 100vw;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.iniciativaJogadores {
  background-color: #5f9ea0;
  height: 80%;
  width: 6%;
  border-radius: 50%;
  cursor: pointer;
}

#combate {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#areaInimigos {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  position: absolute;
  top: 34vh;
}
.nomeInimigo {
  display: flex;
  justify-content: center;
  color: #fff;
}
.geralInimigo {
  background-color: #5b0000;
  height: 120px;
  width: calc(100px * 3);
  border-radius: 40px;
  border: #000 solid 3px;
  cursor: pointer;
}
.inimigos {
  display: flex;
  align-items: center;
}
.div-imagemInimigoArea {
  margin-left: 5px;
}
.div-imagemInimigoArea > img {
  border-radius: 50%;
}
.div-atributosInimigo {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.atributosInimigo {
  display: flex;
}
.atributosInimigo > div {
  color: #fff;
  font-weight: 700;
  margin-left: 20%;
}
.div-pvInimigo {
  width: 100px;
  height: 20px;
  border: #000 solid 2px;
  background-color: #b90000;
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
  color: #0c0c0c;
}
#areaCombatentes {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  position: absolute;
  bottom: 20px;
}
.nomeCombatenteArea {
  display: flex;
  justify-content: center;
  color: #fff;
}
.geralCombatente {
  background-color: #163a00;
  height: 120px;
  width: calc(100px * 3);
  border-radius: 40px;
  border: #000 solid 3px;
  cursor: pointer;
}
.Combatente {
  display: flex;
  align-items: center;
}
.div-imagemCombatenteArea {
  margin-left: 5px;
}
.div-imagemCombatenteArea > img {
  border-radius: 50%;
}
.div-atributosCombatente {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.atributosCombatente {
  display: flex;
}
.atributosCombatente > div {
  color: #fff;
  font-weight: 700;
  margin-left: 20%;
}
.div-pvCombatente {
  width: 100px;
  height: 20px;
  border: #000 solid 2px;
  background-color: #0f6700;
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
  color: #0c0c0c;
}
#div-visualizarPersonagem {
  background-color: #053510;
  height: 75vh;
  width: 50vw;
  position: absolute;
  top: 20vh;
  left: 25vw;
  visibility: hidden;
  border-radius: 15px;
  overflow-y: scroll;
}

.informacoesBasicas {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-top: 10px;
}
.informacoesBasicas > img {
  height: 250px;
}
.informacoesJogador {
  display: flex;
  flex-direction: column;
}
.informacoesJogador > p {
  font-size: x-large;
  font-family: Arial;
  color: #fff;
}
table {
  font-size: x-large;
  font-family: Arial;
  color: #cecece;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: #fff 2px solid;
  text-align: center;
  background-color: #648c3e;
  font-weight: 700;
}
th {
  background-color: #562d0b;
}
td {
  color: #303030;
}
.botao {
  text-align: end;
  margin-block: 20px;
  display: flex;
  justify-content: space-evenly;
}
.botao > button {
  width: 150px;
  height: 70px;
  background-color: #19a900;
  color: #fff;
  font-size: x-large;
  font-weight: 700;
  font-family: Arial;
  border: none;
  border-radius: 20px;
}
#div-visualizarCriatura {
  background-color: #3e0000;
  height: 75vh;
  width: 50vw;
  position: absolute;
  top: 20vh;
  left: 25vw;
  visibility: hidden;
  border-radius: 15px;
  overflow-y: scroll;
}
#div-rolagemDeDados {
  background-color: #160663;
  height: 75vh;
  width: 50vw;
  position: absolute;
  top: 20vh;
  left: 25vw;
  visibility: hidden;
  border-radius: 15px;
}
#selecaoDeDados {
  overflow-y: scroll;
  width: 100%;
  height: 10vh;
  background-color: #3c7ce3;
}
a {
  text-decoration: none;
  color: #cecece;
}
#inventario {
  background-color: #784409;
  height: 75vh;
  width: 50vw;
  position: absolute;
  top: 20vh;
  left: 25vw;
  visibility: visible;
  border-radius: 15px;
  overflow: scroll;
}
.informacoesInventario {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.informacoesInventario > img {
  border-radius: 50%;
}
